.space-between {
  display: flex;
  justify-content: space-between;
}

.cosmo {
  width: 78vh;
  border-radius: 8px;
  border: solid 2px black;
  background: #b35ff5;
  margin-bottom: 2px;
}

.cosmo:hover {
  background: white;
}


