<div *ngIf="human" class="dracula">
  <h3>Human Edition Form:</h3>
  <hr>
  <form [formGroup]="humanEditionForm" (ngSubmit)="saveForm(humanEditionForm)">
    <label>Change human name:
      <input type="text" formControlName="name">
    </label><br>
    <label>Change human height:
      <input type="text" formControlName="height">
    </label><br>
    <label>Change human mass:
      <input type="text" formControlName="mass">
    </label><br>
    <label>Change human hair_color:
      <input type="text" formControlName="hair_color">
    </label><br>
    <label>Change human skin_color:
      <input type="text" formControlName="skin_color">
    </label><br>
    <label>Change human eye_color:
      <input type="text" formControlName="eye_color">
    </label><br>
    <label>Change human birth_year:
      <input type="text" formControlName="birth_year">
    </label><br>
    <label>Change human gender:
      <input type="text" formControlName="gender">
    </label><br>
    <label>Change human homeworld:
      <input type="text" formControlName="homeworld">
    </label><br>
    <label>Change human created:
      <input type="text" formControlName="created">
    </label><br>
    <label>Change human edited:
      <input type="text" formControlName="edited">
    </label><br>
    <button>Submit</button>
  </form>
</div>

<!--<p>{{human.name}}</p>-->
<!--<p>height: {{human.height}}sm</p>-->
<!--<p>mass: {{human.mass}}kg</p>-->
<!--<p>hair_color: {{human.hair_color}}</p>-->
<!--<p>skin_color: {{human.skin_color}}</p>-->
<!--<p>eye_color: {{human.eye_color}}</p>-->
<!--<p>birth_year: {{human.birth_year}}</p>-->
<!--<p>gender: {{human.gender}}</p>-->
<!--<p>homeworld: {{human.homeworld}}</p>-->
<!--<p>created: {{human.created}}</p>-->
<!--<p>edited: {{human.edited}}</p>-->
