<div *ngIf="human" class ="flex">
    <div class="dracula2">
      <button (click)="goToPeople()">Back</button>
      <button (click)="goToEditHuman()">Edit Human</button>
      <button (click)="goToAddNewHuman()">Add New Human</button>
      <h3>Human details:</h3>
      <hr>
      <span>{{human.name}}</span><br>
      <span>height: {{human.height}}sm</span><br>
      <span>mass: {{human.mass}}kg</span><br>
      <span>hair_color: {{human.hair_color}}</span><br>
      <span>skin_color: {{human.skin_color}}</span><br>
      <span>eye_color: {{human.eye_color}}</span><br>
      <span>birth_year: {{human.birth_year}}</span><br>
      <span>gender: {{human.gender}}</span><br>
      <span>homeworld: {{human.homeworld}}</span><br>
      <span>created: {{human.created}}</span><br>
      <span>edited: {{human.edited}}</span>
    </div>
    <router-outlet></router-outlet>
</div>

