/* You can add global styles to this file, and also import other style files */
body {
  /*background: paleturquoise;*/
  background: paleturquoise;
  font-size: 24px;
  font-family: "Britannic Bold";
}
